@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
/*****************************navber***************************** */
.logo img {
	width: 57%;
}
.wrapper{
    background: transparent;
    width: 100%;
  }
  .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 80px;
    display: flex;
  }

  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a,
  .content .links li label{
    color: #62739A;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    color: #5B74DB;
    border-radius: 0;
  }
  .wrapper .menu-icon{
    color: #222;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  .wrapper .menu-icon{
    display: none;
  }
  .wrapper input[type="checkbox"]{
    display: none;
  }
  
  /* Responsive code start */
  @media screen and (max-width: 1250px){
    .wrapper nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
  }
  
  @media screen and (max-width: 900px){
    .wrapper .menu-icon{
      display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background: #14181f;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: -22px;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
  
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul{
      max-height: 100vh;
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  }
  
  @media screen and (max-width: 400px){
    .wrapper nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
  }
  
  /* landing-body */
  
.landing{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5rem;
}
.text {
	margin-top: 135px;
}
.text h2 {
	color: #5B74DB;
	font-size: 80px;
	font-weight: 800;
	margin-bottom: 10px;
}
.text h3 {
	color: #5B74DB;
	font-weight: 700;
}
.text p {
	color: #5B74DB;
	margin-bottom: 25px;
	font-size: 14px;
	padding-right: 194px;
}
.btn-main.btn-white {
	background: #fff;
	border: none;
	width: 118px;
	height: 38px;
	border-radius: 3px;
	margin-right: 37px;
	color: #5B74DB;
}
/* icon-body */
.icon {
	margin-top: 70px;
}
.icon i {
	background: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #5B74DB;
	border-radius: 50%;
}
.icon i:hover {
	background: transparent;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #4A5D8B;
	border-radius: 50%;
  transition: .3s;
}
